*{
  box-sizing: border-box;
}
body{
  background-image: url(https://images.unsplash.com/photo-1582407947304-fd86f028f716?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHw%3D&w=1000&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
}
nav
{
color:white;
}

#titles{
  width: 100%;
  height: 4%;
  text-align: right;
  margin: auto;
  overflow: auto;
}
b{
  text-align: right;
  padding-right: 0;
  font-size: 20px;
  color: white;
}
h1{
  padding-right: 38%;
  color:white;
}
form{
  padding-left: 10%;
  padding-top: 20px;
    width: 1200px;
     margin: auto;
     overflow: auto;
}
#images{
  margin: 5px;
  border: 1px solid black;
  background-color: white;
  float: left;
  width: 300px;
  color: black;
}
img{
padding: 10px;
width: 300px;
height: 240px;
text-align: center;

}
#fon{
  margin: 1px;
  text-align: center;
  
}
h2{
  color:black;
}
select{
  width: 150px;
  height: 25px;
}
#sys{
  width: 40px;
  height: 25px;
}