body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaCUJWqh9wNKXba2RbmqZ2gyodfJ_hm__Kmw&usqp=CAU");  
        background-size: cover;     
background-repeat: no-repeat; 
background-position:center; 
    font-family: 'Arial';  
}  
.container{  
        width: 1024px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 90px;    
        border-radius: 15px ;  
header{ 
    text-align: center;   
  height: 100px;

    } 
          
}nav{ 
    background-color: rgba(20, 19, 19, 0.164);text-align: center; text-color:#FFFFFF
   height: 16px;     padding-top: 14px;     padding-bottom: 14px;
}   
h2{  
    text-align: center;  
    color: #000000;  
    padding: 30px;  
}  
label{  
    color: #FFFFFF;  
    font-size: 19px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  
  a{
color:white;
}